*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
nav{
    padding: 1% 2%;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(cambridge.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.edit{
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}
.undo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-links{
    /* flex: 1; */
    display: flex;
    flex-direction: row;
    /* text-align: right; */
}
.nav-links ul li{
    list-style: none; 
    padding: 8px 12px;
    /* position: relative; */
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: medium;
    font-family: 'roboto', sans-serif;
}
.nav-links ul li::after{
    content: '' ;
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-links ul li:hover::after{
    width:100%;
 } 
 .text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

 }
 .redo{
    display: flex;
    flex-direction: row;
    align-items: center;
 }
 .sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: transparent;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(16, 15, 15, 0.107);
    text-align: left;
    display: none; 
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
 }
 
 .sidebar li{
    width: 100%;
 }

  .sidebar a{
    width: 100%;
 }
.menu-button{
    display: none;
}
@media(max-width: 700px) {
    .redo{
        display: none;
    }
  
  .menu-button {
    display: flex;  /* show hamburger */
    align-items: center;

  }
}
 .material-symbols-outlined{
    color: #f44336;
    vertical-align: middle;
 }

.edit .material-symbols-outlined {
  font-size: 50px;   /* make it very big */
  color: #f44336;     /* red */
  margin-right: 5px; 
}

  .text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
 }

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.7s;
}
@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
}
@media(max-width: 400px){
    .sidebar{
        width:100%;
    }
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }

}
/* -----------------courses--------------- */
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.row{
    margin-top: 5%;
    justify-content: space-between;
    display: flex;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}




/* ----------campus----------- */
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col img{
    width: 100%;
    display: block;
  
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}
.layer:hover{
    background: rgba(226, 0, 0, 0.7);
    

}
.layer h3{
    width: 100%;
    font-weight: 500px;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;

}

.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/* -------------falities---------- */
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
}

.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}


/* ------------------testimonials------------- */
.testimonial{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
/* ------------------testimonial---------------- */

.testimonial-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}

.testimonial-col p{
    padding: 0;
}
.testimonial-col h3{
    text-align: left;
    margin-top: 15px;

}

.fa-solid{
    color: orange;
}

@media(max-width: 700px){
    .testimonial-col img{
        margin-left: 0;
        margin-right: 15px;
    }

}

/* ------------------cta------------- */
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(office.jpeg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;

}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0; 
}
@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}





/* ----------footer------------ */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px auto;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer p{
    margin-bottom: 20px;
}

.icon .fa-brands{
    color: #f44336;
    margin-bottom: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

p .fa-brands{
     color: #f44336;
}